<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maps</key>
	<dict>
		<key>details</key>
		<dict>
			<key>brawlers</key>
			<string>Brawlers</string>
		</dict>
		<key>title</key>
		<string>Maps</string>
	</dict>
	<key>tabItems</key>
	<dict>
		<key>settings</key>
		<string>Settings</string>
		<key>maps</key>
		<string>Maps</string>
		<key>brawlers</key>
		<string>Brawlers</string>
		<key>events</key>
		<string>Events</string>
	</dict>
	<key>events</key>
	<dict>
		<key>row</key>
		<dict>
			<key>recommended</key>
			<string>Recommended</string>
			<key>endsIn</key>
			<string>Ends in {0}</string>
		</dict>
		<key>title</key>
		<string>Events</string>
	</dict>
</dict>
</plist>
